@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');


html, body{
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;

}


h2{
	font-family: 'Playfair Display', serif;
	font-size: 200%;
	font-weight: 700;
	color: #2C2C2C; 
	text-align: center;
	text-decoration: underline;
}

h3{
	font-family: 'Playfair Display', serif;
	font-size: 200%;
	font-weight: 700;
	color: #2C2C2C; 
	text-align: center;

}

h4{
	font-family: 'Playfair Display', serif;
	font-size: 100%;
	font-weight: 700;
	color: #2C2C2C; 
	text-align: center;
	text-decoration: none;
}

p{
	font-family: 'Raleway', serif;
	color: #2C2C2C;
	font-size: 140%;
	line-height: 180%;
	text-align: center;
	font-weight: 300;
}


img{
	text-align: center;
	max-width: 100%;
	height: auto;
	width: audo;
}


.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(/photos/hsv_sky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	top: 0;
}


.intro .inner{
	display: table-cell; 
	vertical-align: middle;
	width: 100%;
	max-width: none;
}


.intro2{
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(/photos/hsv_sky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	top: 0;
}


.intro2 .inner{
	display: table-cell; 
	vertical-align: middle;
	width: 100%;
	max-width: none;
}


.content{
	max-width: 500px;
	margin: auto;
}


.content h1{
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFF; 
	text-align: center;
	float: center;
	transform: translate(-30px, 0px);
}

.content p{
	color: #C0C0C0;
}

.inner{
	max-width: 600px;
	margin: auto;
	font-size: 100%;
	line-height: 2;
	padding: 10px
}


/*----Start navigation menu---*/
nav{
	list-style: none;
	float: left;
	padding: 5% 5% 0 0;
	height: 50px;
}

nav ul{
	list-style: none;
	float: left;
}

nav ul li{
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
	color: #FFF;
}

nav ul li a{
	color: #FFF;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

nav ul, nav:active ul{
	display: none;
	padding: 8px 0;
	left: 45px;
	top: 60px;
	width: 20%;
	z-index: 1000;
}

nav li{
	width: 100%;
	padding: 8px 0 10px 7px;
	margin: 0;
	
}

nav:hover ul{
	display: block;
	position: absolute;
	opacity: 60%;
}

nav2{
	list-style: none;
	float: left;
	padding: 5% 5% 0 0;
	height: 50px;
}

nav2 ul2{
	list-style: none;
	float: left;
}

nav2 ul2 li{
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
	color: #FFF;
}

nav2 ul2 li a{
	color: #FFF;
	text-decoration: none;
}

nav2 ul2 li a:hover{
	text-decoration: underline;
}

nav2 ul2, nav2:active ul2{
	display: none;
	padding: 8px 0;
	left: 45px;
	top: 60px;
	width: 20%;
	z-index: 1000;
}

nav2 li{
	width: 100%;
	padding: 8px 0 10px 7px;
	margin: 0;
	
}

nav2:hover ul2{
	display: block;
	position: absolute;
	opacity: 60%;
}

#menu-icon{
	width: 30px;
	height: 26px;
	background: url(img/nav-icon.png) center;
	display: block;
	margin: 50px 0 0 50px;
	color: #FFF;
}
#menu-icon2{
	width: 30px;
	height: 26px;
	background: url(img/nav-icon.png) center;
	display: block;
	margin: 50px 0 0 50px;
	color: #FFF;
}

/*---About me---*/

.left-col{
	float: center;
}

.left-col p{
	text-align: center;
	font-size: 200%;
}


/*--- Portfolio section ---*/


.link{
	width: 50%;
	float: left;
	padding: 5%;
	text-align: center;
}

.link img:hover{
	opacity: 60%;
}


.center{
	text-align: center;
	display: block;
}

.center img:hover{
	opacity: 60%
}


.column{
	width: 29.3333%;
	padding: 2%;
	float: left;
	text-align: center;
}

.column img:hover{
	opacity: 60%;
}


.column1{
	width: 29.3333%;
	padding: 2%;
	float: left;
	text-align: center;
}

.column1 img:hover{
	opacity: 60%;
}

.contact p{
	text-align: center;
	letter-spacing: 5px;
}

.contact a{
	color: #2C2C2C;
	text-decoration: none;
}

.break{
	display: none;
}

.clearfix{
	clear: both;
	height: .1%;
}

.clearfix2{
	clear: both;
	height: .1%;
}

.parallax{
	float: center;
	background: url(/photos/acura.jpg) no-repeat fixed 50%;
	
}

.parallax-inner{
	padding-top: 20%;
}

/*--- Social links---*/

.social{
	list-style: none;
	text-align: center;
}

.social li{
	display: inline;
}

.social i{
	font-size: 500%;
	margin: 0% 1% 1% 4%;
	color: #2C2C2C;
	transform: translate(-55px, 0px);
}

.social i:hover{
	color: #606060;
}


/*---Bottom footer---*/


.second{
	background-color: #2C2C2C;
}

.second p {
	color: #FFF;
	text-align: center;
	padding: 5%;
}


/*--- More photos style ---/
	

/*--- MOBILE ---*/

@media screen and (max-width: 768px){
	#menu-icon{
		margin: 26px 0 0 26px;
	}
	nav ul, nav:active ul{
		padding: 8px 0;
		left: 23px;
		top: 34px;
		width: 50%;
	}

	.inner {
		font-size: 120%;
	}

	.content h1{
		padding: 22px;
		font-size: 150%;
		text-align: left;
		transform: translate(0px, 0px);
	}

	p {
		font-size: 75%;
		word-spacing: 1px;
		
	}


	.left-col{
		font-size: 50%;
		width: 96%;
		margin: 0 0 3% 0;
		padding: 0 2%;
	}
	
	.left-col h2{
		font-size: 400%;
	}

	.left-col h3{
		font-size: 400%;
		
	}

	.sidebar{
		width: 96%;
		margin: 0 auto;
	}

	img{
		padding: 2%;
	}

	.column{
		width: 96%;
		margin: 0 auto;
		padding: 0p;	
	}
	
	.link{
		width: 100%;
		margin: 0 auto;
		padding: 0p;
	}

	.center{
		width: 100%;
		margin: 0 auto;
		padding: 0p;
	}
	
	.break{
		display: block;
	}

	.parallax{
		display: none;
	}
	

	.social{
		text-align: center;
		transform: translate(-25px, 0px);
	}

	.social i{
		font-size: 250%;
		width: 100%;
		display: inline;
		
	}
}
